@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@layer base {
	h1 {
		@apply text-3xl;
	}
	h2 {
		@apply text-2xl;
	}
	h3 {
		@apply text-xl;
	}
	h4 {
		@apply text-lg;
	}
	h5 {
		@apply text-base;
	}
}

.header-right {
	width: calc(100% - 3.5rem);
}

@media only screen and (min-width: 768px) {
	.header-right {
		width: calc(100% - 16rem);
	}
}

@media (max-width: 576px) {
	.decore-left,
	.decore-right {
		width: 100px;
	}
}

#content-area {
	height: 100%;
}

#content-area .content-wrapper {
	padding: 1rem;
	min-height: calc(90vh - 2rem);
}

#sidebar ul li a.active {
	color: white;
	--tw-bg-opacity: 1;
	border-left-width: 4px;
	border-color: transparent;
	--tw-border-opacity: 1;
	border-color: rgba(6, 95, 70, var(--tw-border-opacity));
	background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

#sidebar ul li a:hover:active .fa-dot-circle  {
	color: white;
}

.decore-left {
	top: 0;
	left: 0;
	position: absolute;
}

.decore-right {
	top: 0;
	right: 0;
	position: absolute;
}

.dropdown-header {
	min-width: 150px !important;
}

@media screen and (max-width: 768px) {
	.ant-col {
	  flex: 100% !important;
	}
}

.loader {
	border-top-color: #1DA57A;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.upload-document .ant-upload.ant-upload-select {
    display: block;
}

.upload-document button {
    width: 100%;
}
